{erl_opts, [debug_info]}.
{deps, []}.
{plugins, [
    {gradualizer, {git, "https://github.com/josefs/Gradualizer.git", {branch, "master"}}},
    {jsonformat, {git, "https://github.com/kivra/jsonformat.git", {tag, "v2.5.0"}}}
]}.
{project_plugins, [erlfmt]}.
{shell, [
    % {config, "config/sys.config"},
    {apps, [erlang_bits]}
]}.
