{erl_opts, [debug_info]}.
{deps, []}.
{plugins, [
    {gradualizer, {git, "https://github.com/josefs/Gradualizer.git", {branch, "master"}}},
    {jsonformat, {git, "https://github.com/kivra/jsonformat.git", {tag, "v2.5.0"}}},
    {restc, {git, "https://github.com/kivra/restclient.git", {tag, "0.9.8"}}},
    {decimal, {git, "https://github.com/egobrain/decimal.git", {tag, "0.6.2"}}}
]}.
{project_plugins, [erlfmt]}.
{shell, [
    % {config, "config/sys.config"},
    {apps, [erlang_bits]}
]}.
